# URL for the imgproxy server
IMGPROXY_URL=http://imgproxy:8080

# This will only allow images from example.com and coolify.io to be resized.
# use "*" to allow all domains
ALLOWED_REMOTE_DOMAINS=example.com,coolify.io
